h2 {
    font-family: ו;
    font-size: 28px;
    text-align: center;
    background: #ffff37;
    margin-top: auto;
    height: 40px;
    width: 500px;
}
.box {
    border: 1px solid #000000;
    height: 370px;
    width: 500px;
    float: left;
    margin: 50px;
 margin-left: 30%;
}

.input_box{
    text-align: center;
    height: 30px;
    width: 500px;

}
input {
    align-self: center;
    height: 30px;
    width: 300px;
}

button{

    font-size: 22px;
    width: 360px;
    height: 40px;
    align-self: center;
   margin-bottom: auto;
   background: #ffff37;
margin-left: 15%;



}